@font-face {
	font-family: "MontserratM";
	src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "MontserratB";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "MontserratSB";
	src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: "ThaiSansB";
	src: url("../fonts/ThaiSansNeue-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "ThaiSansSB";
	src: url("../fonts/ThaiSansNeue-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: "ThaiSansI";
	src: url("../fonts/ThaiSansNeue-Italic.ttf") format("truetype");
}
@font-face {
	font-family: "ThaiSansR";
	src: url("../fonts/ThaiSansNeue-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "ThaiSansLI";
	src: url("../fonts/ThaiSansNeue-LightItalic.ttf") format("truetype");
}
@font-face {
	font-family: "MontserratR";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

.font-mont-m {
	font-family: 'MontserratM', sans-serif;
}
.font-mont-b {
	font-family: 'MontserratB', sans-serif;
}
.font-mont-sb {
	font-family: 'MontserratSB', sans-serif;
}
.font-mont-r {
	font-family: 'MontserratR', sans-serif;
}


.font-thai-sb {
	font-family: 'ThaiSansSB', sans-serif;
}
.font-thai-b {
	font-family: 'ThaiSansB', sans-serif;
}
.font-thai-i {
	font-family: 'ThaiSansI', sans-serif;
}
.font-thai-r {
	font-family: 'ThaiSansR', sans-serif;
}
.font-thai-li {
	font-family: 'ThaiSansLI', sans-serif;
}





body {
	padding: 0;
	margin: 0;
	height: auto;
	background-color: #F8F9FA;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar {
	box-shadow: 0px 2px 16px #999BA81F;
	background-color: #fff;
	height: 64px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	padding: 0 20px;
}


.navbar > .title-header {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: fit-content;
}


.sidenav {
	top: 64px;
	z-index: 1;
	background-color: #fff;
	height: calc(100vh - 64px);
	width: 200px;
	box-shadow: 0px 3px 20px #DDDDDD;
}

.sidenav > .nav > .nav-item > .nav-link {
	font-size: 12px;
	display: block;
	height: 40px;
	font-family: 'MontserratM', sans-serif;
	color: #000F9F;
}

.sidenav > .nav > .nav-item > .nav-link.active {
	background: #000F9F 0% 0% no-repeat padding-box;
	color: #fff;
}

.c-blue {
	color: #000F9F!important;
}
.c-black {
	color: #000!important;
}
.c-white {
	color: #fff!important;
}
.c-yellow {
	color: #E8CD00!important;
}
.c-red {
	color: #DF4547!important;
}
.c-green {
	color: #61B400;
}
.c-gray {
	color: #999;
}

.wrapper-content-operation {
	margin-top: 64px;
	height: calc(100vh - 64px);
	overflow: hidden;
}
.wrapper-content-operation-cell {
	height: calc(100vh - 64px);
	overflow: hidden;
}

.wrapper-content-infra {
	margin-top: 50px;
	height: calc(100vh - 50px);
	overflow: hidden;
}

.wrapper-header {
	margin-top: 64px;
	padding: 20px 6px;
	height: 100px;
	background: transparent linear-gradient(98deg, #0500A3 0%, #2152C8 100%) 0% 0% no-repeat padding-box;
}

.wrapper-body {
	padding: 20px 6px;
}


.wrapper-map {
	height: calc(100vh - 164px);
}

.wrapper-content {
    padding: 12px 0;
}

.wrapper-loading {
	position: absolute;
	z-index: 2;
	display: table;
	width: 100%;
	height: 100vh;
	background: transparent linear-gradient(180deg, #0500A3 0%, #2152C8 100%) 0% 0% no-repeat padding-box;
}
.wrapper-loading > div {
	display: table-cell;
	vertical-align: middle;
}
.wrapper-main {
	height: calc(100vh - 64px);
	padding-top: 40px;
}
.wrapper-auth {
	height: calc(100vh - 58px);
    display: table;
    width: 100%;
}
.wrapper-auth-cell {
    display: table-cell;
    vertical-align: middle;
}
.wrapper-blue {
    right: 0;
    background-color: #000F9F;
    top: 0;
    bottom: 0;
}

.collapse-list-job {
	width: 22px;
	height: 66px;
	background-color: #000F9F;
	z-index: 1;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.collapse-list-job:hover {
	cursor: pointer;
}
.collapse-list-job > a {
	height: 66px;
    align-items: center;
    display: flex;
}

.list-job-map {
	right: 0;
    top: 64px;
    bottom: 0;
    width: 526px;
    overflow: hidden;
    background: #F4F5F7;
	box-shadow: 0px 10px 20px #00000029;
}
.wrapper-list-job {
	height: calc(100vh - 102px);
	overflow: auto;
	padding: 20px;
}

.card-list-job {
	padding: 10px;
	border-left: 4px solid #000F9F;
	background-color: #fff;
	box-shadow: 0px 0px 20px #ECEEF0;
}
.badge-secondary {
	background-color: #fff;
	color: #717491;
	border: 1px solid #717491;
	padding: 2px 12px;
	height: 20px;
	line-height: 14px;
}
.badge-warning {
	background-color: #E8CD00;
	color: #000F9F;
	border: 1px solid #E8CD00;
	padding: 2px 12px;
	height: 20px;
	line-height: 14px;
}

.badge-light {
	background-color: #fff;
	color: #000F9F;
	border: 1px solid #000F9F;
	padding: 2px 12px;
	height: 20px;
	line-height: 14px;
}

.badge-danger {
	background-color: #DF4547;
}

.badge-success {
	background-color: #618817;
}

.badge-primary {
	background-color: #e09306;
}

.badge-light.on-process {
	color: #428817;
	border-color: #428817;
}

.badge-light.Wait-Reassign {
	color: #A451BA;
	border-color: #A451BA;
}

.badge-light.Cancel {
	color: #2C2C2C;
	border-color: #2C2C2C;
}
.badge-light.stop-time {
	color: #FF0000;
	border-color: #FF0000;
}


.dot-Wait-Reassign {
	width: 6px;
	height: 6px;
	background-color: #A451BA;
    display: inline-block;
    border-radius: 50%;
}
.dot-Cancel {
	width: 6px;
	height: 6px;
	background-color: #2C2C2C;
    display: inline-block;
    border-radius: 50%;
}

.dot-stop-time {
	width: 6px;
	height: 6px;
	background-color: #FF0000;
    display: inline-block;
    border-radius: 50%;
}




.card-step-job {
	padding: 20px;
	margin-top: 40px;
	height: 148px;
	background-color: #fff;
	box-shadow: 0px 3px 20px #999BA829;
	border: 1px solid #E8ECEF;
}
.card-step-job ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.card-step-job ul li {
	display: inline-block;
	width: 150px;
}

.card-step-job ul li .step-status {
	position: relative;
	width: 26px;
	margin: 5px auto;
}



.card-step-job ul li .step-status::before {
	content: '';
    background-color: #E0E0E0;
    height: 5px;
    width: 136px;
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
}

.card-step-job ul li:nth-child(1) .step-status::before {
	content: '';
    display: none;
}

.card-step-job ul li.active .step-status::before {
	content: '';
    background-color: #4da316;
}

.card-step-job ul li p {
	color: #E0E0E0;
}


.card-step-job ul li.active p {
	color: #000F9F;
}





.fs-8 {
	font-size: 8px;
}
.fs-10 {
	font-size: 10px;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}
.fs-20 {
	font-size: 20px;
}
.fs-22 {
	font-size: 22px;
}
.fs-26 {
	font-size: 26px;
}
.fs-30 {
	font-size: 30px;
}
.fs-34 {
	font-size: 34px;
}
.fs-40 {
	font-size: 40px;
}

.card-maxi-module {
	overflow: hidden;
    background-image: linear-gradient(to right, #D4E7FF, #E2EEFF, #EEF5FF);
}

.card-maxi-module input {
	background-color: #c7d8fc;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border: .5px solid #d9e4fc;
    border-radius: 3px;
    height: 40px;
}

.card-maxi-module .btn-primary {
	border-color: #5C72F7;
	background-color: #5C72F7;
    width: 94px;
    height: 40px;
    color: #ffffff;
    border-radius: 21px;
}

.card-maxi-module .btn-light {
    width: 94px;
    height: 40px;
    border-radius: 21px;
}

.card-maxi-item {
	border-radius: 12%;
	background-color: #fff;
	width: 180px;
    height: 180px;
    margin: 0 auto;
    transition: all .5s ease;
}
.card-maxi-item:hover {
	background-color: #E8CD00;
}


.card-maxi-item > a {
	height: 100%;
}
.card-maxi-item > a > img {
	height: 76%;
	margin: 0 auto;
}
.card-table-ma {
	background-color: #fff;
	box-shadow: 0px 3px 20px #999BA829;
}
.card-table-ma .open {
	line-height: 10px;
	background: none;
	color: #717491;
	border: 1px solid #717491;
}
.card-table-ma .assigned {
	line-height: 10px;
	background: none;
	color: #000F9F;
	border: 1px solid #000F9F;
}
.card-table-ma .on-process {
	line-height: 10px;
	background: none;
	color: #428817;
	border: 1px solid #428817;
}
.card-table-ma .btn-light {
	font-size: 12px;
	color: #0500A3;
	border: 1px solid #0500A3;
	border-radius: 0;
	background-color: #fff;
	font-family: 'MontserratM', sans-serif;
}
.btn-warning {
	font-size: 12px;
	color: #0500A3;
	border: 1px solid #E8CD00;
	border-radius: 0;
	background-color: #E8CD00;
	font-family: 'MontserratM', sans-serif;
}
.dot-on-process {
	width: 6px;
	height: 6px;
	background-color: #428817;
    display: inline-block;
    border-radius: 50%;
}
.dot-active {
	width: 10px;
	height: 10px;
	background-color: #61B400;
    display: inline-block;
    border-radius: 50%;
}
.dot-Inactive {
	width: 10px;
	height: 10px;
	background-color: rgb(161, 0, 0);
    display: inline-block;
    border-radius: 50%;
}


.stat {
	width: 62px;
	height: 62px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 6px #000964;
}
.stat.success {
	border-color: #17B72A;
}
.stat.danger {
	border-color: #DF4547;
}
.stat.warning {
	border-color: #E8CD00;
}
.stat.orange {
	border-color: #E09307;
}





.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.bg-home {
	top: 0;
	bottom: 0;
	right: 0;
	width: 30%;
}

.bg-login {
	top: 0;
	bottom: 0;
	right: 0;
}

.btn-login {
    background-color: #5C72F7;
    width: 152px;
    height: 42px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 21px;
}

.text-underline {
	text-decoration: underline!important;
}

.card-maxi-module .ant-form-item-label > label {
	font-size: 12px;
	height: 20px;
	color: #333;
	font-family: 'MontserratR', sans-serif;
}
.card-maxi-module .ant-form-item-label {
	padding: 0;
}
.card-maxi-module .ant-form-item {
	margin-bottom: 20px;
}

.card-maxi-module ::placeholder {
  	color: #333;
  	opacity: 1; /* Firefox */
}


.rightnav-job {
	background: #F4F5F7;
	box-shadow: 0px 10px 20px #00000029;
	height: calc(100vh - 64px);
	overflow: hidden;
	width: 626px;
	top: 0;
	bottom: 0;
	right: 0;
}


.rightnav-job .nav {
	background-color: #fff;
}


.rightnav-job .nav .nav-item .nav-link {
	background-color: #F4F5F7;
	color: #000F9F;
	min-height: 38px;
}

.rightnav-job .nav .nav-item .nav-link.no-assign {
	color: #E14347;
}

.rightnav-job .nav .nav-item .nav-link.active {
	background-color: #000F9F;
	color: #fff;
}

.rightnav-job .nav .nav-item .nav-link.no-assign.active {
	background-color: #E14347;
	color: #fff;
}

.ant-table-column-sorters {
	padding: 8px;
	font-size: 18px;
	color: #000F9F;
	font-family: 'ThaiSansSB', sans-serif;
}
.ant-table-tbody > tr:nth-child(odd) {
	background-color: #E7EDF250;
}
.ant-table-tbody > tr > td {
	font-size: 18px;
	color: #6F6F6F;
	font-family: 'ThaiSansSB', sans-serif;
	border-bottom: 0;
	padding: 8px;
}
.ant-table-tbody > tr.ant-table-row-selected > td {
	background: none;
}
.ant-table-thead > tr > th {
	background-color: #fff;
	border-bottom: 0;
	padding: 8px;
	font-size: 18px;
	color: #000F9F;
	font-family: 'ThaiSansSB', sans-serif;
}

.card-table-ma .nav .nav-item .nav-link {
	background-color: #F4F5F7;
	color: #000F9F;
	min-height: 38px;
	padding: 10px 40px;
}
.card-table-ma .nav .nav-item .nav-link.no-assign {
	color: #E14347;
}
.card-table-ma .nav .nav-item .nav-link.active {
	background-color: #000F9F;
	color: #fff;
}
.card-table-ma .nav .nav-item .nav-link.no-assign.active {
	background-color: #E14347;
	color: #fff;
}
.sidenav-infra {
	top: 50px;
	z-index: 1;
	background-color: #fff;
	height: calc(100vh - 50px);
	width: 170px;
	border-right: 1px solid #F2F2F2;
}

.sidenav-infra .nav .nav-item {
	font-family: 'ThaiSansSB', sans-serif;
	font-size: 14px;
}
.sidenav-infra .nav .nav-item .nav-link {
	color: #1E1E9A;
	height: 40px;
}
.sidenav-infra .nav .nav-item .nav-link.active {
	background-color: #EAD000;
}
.td.ant-table-column-sort {
	background: none;
}


.ant-btn-group > .ant-btn {
	background-color: #E8CD00;
}
.ant-dropdown-button.ant-btn-group > .ant-btn:last-child:not(:first-child) {
	color: #000F9F;
}
.ant-breadcrumb {
	font-size: 16px;
	font-family: 'ThaiSansR', sans-serif;
}
.ant-breadcrumb-separator {
	color: #fff;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
	align-items: center;
    background-color: #E8ECEF;
    height: 40px;
    font-size: 14px;
    font-family: 'MontserratB', sans-serif;
    display: flex;
}
.ant-collapse-content {
	border-top: 0;
}
.ant-collapse > .ant-collapse-item {
	border-bottom: 0;
	margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(153, 155, 168, 0.1607843137254902);
}
.ant-collapse {
	background: none;
	border: 0;
}

.ant-collapse .btn-warning {
	padding: 2px 20px;
	font-size: 16px;
	color: #000F9F;
	border: 1px solid #E8CD00;
	border-radius: 0;
	background-color: #E8CD00;
	font-family: 'ThaiSansB', sans-serif;
}
.full-detail-job-des {
	margin: 0 15px;
    padding-left: 15px;
    border-left: 2px solid #E8ECEF;
}

.wrapper-header .btn-success {
	padding: 8px 20px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #17B72A;
	border-radius: 0;
	background-color: #17B72A;
	font-family: 'MontserratM', sans-serif;
}

.wrapper-header .btn-danger {
	padding: 8px 20px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #DF4547;
	border-radius: 0;
	background-color: #DF4547;
	font-family: 'MontserratM', sans-serif;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
	color: #000F9F;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.card-inner {
	background-color: #F7F7F7;
	padding: 20px;
}

.table td, .table th {
	font-size: 18px;
	font-family: 'ThaiSansSB', sans-serif;
	padding: 6px 20px;
}

.ant-modal-body .btn-secondary {
	padding: 10px 30px;
	margin: 12px;
	font-size: 12px;
	font-family: 'MontserratM', sans-serif;
	color: #828282;
	background-color: #EDEDED;
	border-color: #EDEDED;
	border-radius: 0;
}

.ant-modal-body .btn-success {
	padding: 10px 30px;
	margin: 12px;
	font-size: 12px;
	font-family: 'MontserratM', sans-serif;
	color: #000F9F;
	background-color: #E8CD00;
	border-color: #E8CD00;
	border-radius: 0;
}

.ant-modal-body .btn-danger {
	padding: 10px 30px;
	margin: 12px;
	font-size: 12px;
	font-family: 'MontserratM', sans-serif;
	color: #fff;
	background-color: #DF3034;
	border-color: #DF3034;
	border-radius: 0;
}

.ant-modal-body .btn-primary {
	padding: 10px 30px;
	margin: 12px;
	font-size: 12px;
	font-family: 'MontserratM', sans-serif;
	color: #fff;
	background-color: #000F9F;
	border-color: #000F9F;
	border-radius: 0;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-nav-scroll, .ant-tabs .ant-tabs-right-bar .ant-tabs-nav-scroll {
	width: 250px;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
	text-align: left;
}
.ant-tabs {
	background-color: #f7f7f7;
}

.ant-tabs-nav h6 {
	font-family: 'MontserratR', sans-serif;
	font-size: 12px;
	color: #6F6F6F;
	margin-bottom: 0;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab, .ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
	padding: 15px 24px;
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
}


.ant-tabs-nav .ant-tabs-tab-active {
	background-color: #fff;
}

.ant-tabs-nav .ant-tabs-tab-active .anticon {
	color: #0500A3;
}

.ant-tabs-nav .ant-tabs-tab-active h6 {
	font-family: 'MontserratSB', sans-serif;
	color: #0500A3;
}
.ant-tabs-ink-bar {
	background-color: #0500A3;
}
.ant-tabs-content .ant-input, .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector, .ant-tabs-content .ant-input-password {
	/* height: 52px; */
	border: 1px solid #E8ECEF;
	border-radius: 4px;	
}
.ant-form-item-label > label {
	font-size: 18px;
	color: #6F6F6F;
	font-family: 'ThaiSansR', sans-serif;
}
.ant-tabs .ant-tabs-left-content {
	padding-top: 24px;
	padding-bottom: 24px;
	padding-right: 24px;
	background-color: #fff;
	min-height: 510px;
}

/* .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item, .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder {
	line-height: 48px;
} */

.ant-tabs .ant-input-affix-wrapper > input.ant-input {
	/* height: 35px; */
	font-size: 12px;
	font-family: 'MontserratR', sans-serif;
}


.setting-noti-list {
	padding: 12px 0;
	border-bottom: 1px solid #F2F4F6;
}


.ant-switch, .ant-switch.ant-switch-checked::after {
	background-color: #F2F4F6;
}
.ant-switch-loading-icon, .ant-switch::after {
	background-color: #98A9BC;
}
.ant-switch-checked {
	background-color: #0500A3;
}

.custom-upload {
	border: 1px dashed #E8ECEF;
	border-radius: 4px;
	padding: 40px;
}

.custom-modal {
	width: 760px!important;
}
.custom-modal-large {
	width: 1080px!important;
}

.menu-basic-data {
	list-style: none;
    margin-top: 6px;
    margin-bottom: 0;
}
.menu-basic-data li {
	font-size: 12px;
}

.menu-basic-data li a {
	padding: 4px 0;
	display: block;
	color: #717491;
	font-family: 'MontserratR', sans-serif;
}

.menu-basic-data li.active a {
	color: #0500A3;
	font-family: 'MontserratSB', sans-serif;
}

.navTwo li {
	display: inline-block;
	margin-right: 20px;
}

.wrapper-noti {
	z-index: 4;
	width: 420px;
    background-color: #fff;
    top: 64px;
    right: 0;
    height: calc(100vh - 64px);
	overflow: auto;
	box-shadow: 0px 3px 20px #C9C9C9;
}

.wrapper-noti ul {
	padding: 0;
	margin: 0;
}
.wrapper-noti ul li {
	height: 80px;
	padding: 15px;
	transition: all .3s ease;
}
.wrapper-noti ul li:hover {
	cursor: pointer;
	background-color: #0500A3;
	color: #9A98E0;
}
.wrapper-noti ul li:hover h5 {
	color: #fff;
}

.alert-noti {
	background-color: #DF4547;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	right: 4px;
}
.rbc-header {
	background-color: #F5F6FA;
	border-color: #EAF0F4!important;
	height: 45px;
	color: #202224;
	font-size: 18px!important;
	font-family: 'ThaiSansB', sans-serif;
	text-transform: uppercase;
	padding: 8px 3px!important;
}
.rbc-month-view {
	border-color: #EAF0F4!important;
	font-size: 18px!important;
	font-family: 'ThaiSansB', sans-serif;
}
.rbc-header + .rbc-header {
	border: 0!important;
}
.rbc-event {
	background-color: #3B86FF!important;
	font-family: 'ThaiSansSB', sans-serif;
	font-size: 16px;
}
.rbc-btn-group {
	font-family: 'ThaiSansSB', sans-serif;
	font-size: 18px;
}
.rbc-toolbar button {
	color: #6F6F6F!important;
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
	color: #3B86FF!important;
	box-shadow: none!important;
	background-color: #fff!important;
}
.rbc-month-row + .rbc-month-row, .rbc-day-bg + .rbc-day-bg {
	border-color: #EAF0F4!important;
}
.rbc-off-range-bg {
	background: #fff!important;
}
.rbc-off-range {
	color: rgba(111, 111, 111, 0.3)!important;
}
.rbc-toolbar {
	margin-bottom: 20px!important;
}
.rbc-date-cell {
	color: #6f6f6f;
}
.rbc-toolbar {
	font-size: 20px!important;
	color: #6F6F6F;
	font-family: 'ThaiSansSB', sans-serif;
}
.rbc-today {
	background-color: #F5F6FA!important;
}
.rbc-time-view .rbc-row {
	min-height: 45px!important;
}
.wrapper-storage {
	background-color: #0500A3;
	height: 95px;
	padding: 30px;
}
.wrapper-storage h5 {
	color: #9A98E0;
}
.ant-progress-circle .ant-progress-text {
	font-family: 'ThaiSansSB', sans-serif;
	font-size: 18px;
	color: #E8CD00;
}
.ant-dropdown-menu {
	padding: 0;
	box-shadow: 0px 3px 20px #C3C3C3;
	border-radius: 0;
}
.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a {
	font-family: 'MontserratM', sans-serif;
	color: #0500A3;
	font-size: 12px;
}
.ant-dropdown-menu-item > a:hover,
.ant-dropdown-menu-submenu-title > a:hover {
	background-color: #E8CD00;
	color: #0500A3;
}
.table-photo-report td {
	border: 0;
	color: #6F6F6F;
}
.table-photo-report thead th {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.rbc-label, .rbc-agenda-content {
	font-family: 'ThaiSansSB', sans-serif;
	font-size: 16px;
}

.entry {
	color: #6F6F6F;
}
.entry .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
	height: 19px;
}
.card-photo {
	margin-bottom: 20px;
}
.card-photo h6 {
	color: #6F6F6F;
	width: 100%;
    height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-photo span {
	color: #9A98E0;
}
.card-table-ma .head {
	background-color: #0500A3;
	height: 40px;
	padding: 0 20px;
    display: flex;
    align-items: center;
    color: #fff;
}
.wrapper-header .btn-warning {
	padding: 8px 20px;
	font-size: 12px;
	color: #000F9F;
	border: 1px solid #E8CD00;
	border-radius: 0;
	background-color: #E8CD00;
	font-family: 'MontserratM', sans-serif;
}
.ant-select, .ant-select-item {
	color: #000F9F;
	font-family: 'ThaiSansSB', sans-serif;
	font-size: 18px;
}
.ant-select-arrow {
	color: #000F9F;
}

.entry .ant-select-selection-item {
	font-size: 14px;
	line-height: 16px!important;
}
.entry .ant-select-arrow {
	font-size: 9px;
	margin-top: -5px;
}
.ant-btn-primary {
	background-color: #000f9f;
	border-color: #000f9f;
}
.btn-info {
	border-color: #0500A3;
	border-radius: 0;
	background-color: #fff;
}
.wrapper-dashboard-right {
	border: 1px solid #E8ECEF;
	background-color: #fff;
}
.wrapper-dashboard-right .head {
	margin: -1px;
	padding: 20px 0;
	background: transparent linear-gradient(90deg, #0500A3 0%, #1B3769 100%) 0% 0% no-repeat padding-box;
}
.wrapper-dashboard-right .head ul {
	padding: 0;
	margin-bottom: 10px;
}
.wrapper-dashboard-right .head ul li {
	display: inline-block;
	margin-right: 10px;
}
.wrapper-dashboard-right .body {
	padding: 20px;
}
.card-dashboard {
	border: 1px solid #E8ECEF;
	background-color: #fff;
	padding: 20px;
}
.ant-pagination-item a {
	font-family: 'ThaiSansR', sans-serif;
	font-size: 20px;
}

.custom-modal-map-large {
	width: 1080px!important;
} 
.custom-modal-map-large .ant-modal-body {
	padding: 0;
}
.dot-low {
	background-color: #6DD230;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
}
.dot-urgent {
	background-color: #DF3034;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
}
.dot-normal {
	background-color: #E8CD00;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
}
.dot-high {
	background-color: #E09307;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
}
.card-planning-list {
	background-color: #fff;
	border: 1px solid rgba(232, 236, 239, 0.4);
	border-radius: 4px;
	box-shadow: 0px 3px 6px #E8ECEF;
	color: #595959;
	margin-bottom: 10px;
}
.card-planning-list.active {
	background-color: #0500A3;
	color: #fff;
}
.card-planning-list.active a .name, .card-planning-list.active button h5 {
	color: #fff;
}
.card-planning-list a, .card-planning-list button {
	padding: 7px 10px;
}
.card-planning-list a .name, .card-planning-list button h5 {
	color: #0500A3;
}
.ant-collapse-extra {
	position: absolute;
	right: 0;
}
.fs-24 {
	font-size: 24px;
}
.ant-collapse.planning-list > .ant-collapse-item {
	box-shadow: none;
}
.ant-collapse.planning-list > .ant-collapse-item > .ant-collapse-header {
	padding: 0 0 0 20px;
	background-color: #fff;
	border-bottom: 3px solid #E8CD00;
}
.ant-collapse.planning-list > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
	left: 0;
}
.ant-collapse.planning-list .ant-collapse-content > .ant-collapse-content-box {
	padding: 10px 0;
}
.ant-collapse.planning-list .ant-collapse-content > .ant-collapse-content-box .ant-collapse-item {
	box-shadow: none;
	margin-bottom: 5px;
}
.ant-collapse.planning-list .ant-collapse-content > .ant-collapse-content-box .ant-collapse-item > .ant-collapse-header {
	background-color: #F9FAFE;
}
.planning-list .ant-table-tbody > tr:nth-child(odd) {
	background-color: #fff;
}
.planning-list .ant-table-tbody > tr > td {
	padding: 2px 10px;
}
.planning-list .ant-table-thead > tr > th {
	color: #333;
}
.ant-collapse.planning-list > .ant-collapse-item {
	margin-bottom: 10px;
}
.ant-avatar {
	line-height: 50px;
}
.card-task-team {
	padding: 15px;
	border-radius: 4px;
	background-color: #E7EDF250;
}
.card-task-team .item {
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #E8ECEF;
    margin-bottom: 7px;
}
.card-task-team .item a {
	padding: 10px;
	display: block;
}
.ant-tag {
	height: 17px;
    border-radius: 20px;
	font-family: 'ThaiSansB', sans-serif;
	font-size: 14px;
    line-height: 12px;
}
.navbar-light .navbar-nav .nav-link {
	margin: 0 12px;
}

.toggle-sidenav {
	background-color: #fff;
	width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
}
.toggle-sidenav.active {
	background-color: #E8CD00;
	color: #000F9F;
}

.wrapper-calendar-today {
	padding: 20px;
	background-color: #E7EDF250;
	height: 100%;
}

button {
	border: 0;
    background: none;
    padding: 0;
}
button:focus {
	outline: 0;
}

.rbc-toolbar-label {
	color: #2B2D33;
	font-size: 24px;
	font-family: 'ThaiSansB', sans-serif;
}



.ant-drawer-body .btn-secondary {
	padding: 10px 30px;
	margin: 12px;
	font-size: 12px;
	font-family: 'MontserratM', sans-serif;
	color: #828282;
	background-color: #EDEDED;
	border-color: #EDEDED;
	border-radius: 0;
}

.ant-drawer-body .btn-success {
	padding: 10px 30px;
	margin: 12px;
	font-size: 12px;
	font-family: 'MontserratM', sans-serif;
	color: #000F9F;
	background-color: #E8CD00;
	border-color: #E8CD00;
	border-radius: 0;
}

.tab-list-plan {
	background-color: #fff;
	box-shadow: 0px 3px 6px #E2E3E3;
	margin-bottom: 20px;
}

.tab-list-plan li {
	display: inline-block;
	width: 50%;
	border-bottom: 3px solid #fff;
}
.tab-list-plan li button {
	font-size: 20px;
	font-family: 'ThaiSansB', sans-serif;
	width: 100%;
	color: #9A98E0;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
}

.tab-list-plan li.active {
	border-color: #0500A3;
}
.tab-list-plan li.active button {
	color: #0500A3;
}
.card-employee {
	background-color: #fff;
	padding: 15px;
	box-shadow: 0px 3px 20px #E8ECEF;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
}
.card-team-select {
	background-color: #fff;
	box-shadow: 0px 3px 10px #E8ECEF;
	border-radius: 10px;
	margin-bottom: 10px;
}
.card-team-select button {
	padding: 12px;
	text-align: initial;
}
.card-team-select button h5 {
	color: #0500A3;
}
.card-team-select.active {
	background-color: #0500A3;
}
.card-team-select.active button h5, .card-team-select.active {
	color: #fff;
}
.card-stat {
	font-family: 'ThaiSansB', sans-serif;
	background-color: #F9FAFE;
	padding: 20px;
}
.card-stat h3 {
	margin-bottom: 0;
	font-size: 42px;
	color: #2B2D33;
}
.card-stat span {
	font-size: 20px;
	color: #0500A3;
}
.tag-skill {

}

.tag-skill li {
	display: inline-block;
	background-color: #CEF8BC;
	padding: 5px 20px;
	border-radius: 30px;
	color: #0500A3;
	font-size: 18px;
	font-family: 'ThaiSansSB', sans-serif;
	margin-right: 10px;
}

.wrapper-tab {
	background-color: #2B2D33;
	font-size: 12px;
	font-family: 'MontserratSB', sans-serif;
}

.wrapper-tab li {
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
}
.wrapper-tab li.active {
	color: #E8CD00;
}
.card-warehouse {
	box-shadow: 0px 3px 20px #E8ECEF;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	margin-bottom: 30px;
}
.card-warehouse .detail {
	position: relative;
	margin: 12px;
}
.card-warehouse .detail .dropdown {
	position: absolute;
	top: 0;
	right: 0;
}












